h1,form{
    color: black;
    font-family: Arial;
    font-size: 200%;
    text-align: center;
    
}

#inputtext {
    width: 500px;
}
#facets{
    color:blue;
    font-size:14pt;
}
#spellcheck{
    color: orange;
    font-family: Arial;
    font-size: 14pt;
    text-align: center;
}
#btitle,#bcontent,#bcategory{
    width: 40px;
}
#edit-search{
    color: black;
    font-family: Arial;
    font-size: 12pt;
    text-align: left
}

#searchresults{
   color: black;
   font-family: Arial;
   text-align: left;
}

.container {
   height: auto;
   overflow: hidden;
}

.left {
    background: white;
    position: absolute;
    left: 0px;
    width: 25%;
}
    
.right {
    background: white;
    position: absolute;
    right: 0px;
    width: 75%;
}


#numresults{
    color: black;
    font-family: Arial;
    font-size: 100%;
    text-align: right;
    font-weight: bold;
}
a:link {
    text-decoration: none;
    color: blue;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor:pointer;
}

a:active {
    text-decoration: underline;
}

.mlt{
    color:blue;
    float: right;
}
#blacktext{
    color:black;
    font-weight: normal;
}
#hlight{
    background-color: yellow;
}